body{
    font-family: Roboto;
}

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
     gap: 600px;
     margin-bottom: 0;
}


ul{
    display: flex;
    justify-content: space-between;
     gap: 15px;
     margin-left: 10px;

}

a{
    display: flex;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
     
}

li{
    display: flex;
}

.logo{
    margin-left: 165px;
}

.first-section{
    background-color: #1f2937;
    display: flex;
    height: 400px; 
    font-size: 18px;  
    color: #E5E7EB;
    align-items: center;
    justify-content: center; 
    margin-top: 0;
    align-content: center;
}


.awesom{
    font-size: 48px;
    font-weight: 9000px;
    color:#F9FAF8;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 0;
}

.main-text{
    display: block;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 400px;
    margin-right: 150px;   
    align-content: center;
    margin-top: 0px;
    height: 450px;
    margin-left: 0;
    
}

.main-button{
   background-color:  #3882F6;
   color: white;
   font-weight: bold;
   padding: 10px 35px;
   border-radius: 10px;
   margin-top: 0;
   
}


.image{
    background-color: gray;
    height: 250px;
    width: 400px;
    text-align: center;
    justify-items: center;
    align-content: center;
    margin-top: 0;
}
