body{
    font-family: Roboto;
    padding: 0;
    display: flex;
    flex-shrink: none;
    
}


*{
  margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.content{
    display: block;
    padding: 0px;
    flex-shrink: none;
}

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
     gap: 600px;
     margin-bottom: 0;
     width: 1300px;
}


ul{
    display: flex;
    justify-content: space-between;
     gap: 15px;
     margin-left: 10px;
     margin-right: 30px;
     margin-top: 15px;
}

a{
    display: flex;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
     
}

li{
    display: flex;
}

.logo{
    margin-left: 165px;
    margin-top: 15px;
}

.first-section{
    background-color: #1f2937;
    display: flex;
    height: 400px; 
    font-size: 18px;  
    color: #E5E7EB;
    align-items: center;
    justify-content: center; 
    margin-top: 0;
    align-content: center;
}


.awesom{
    font-size: 48px;
    font-weight: 9000px;
    color:#F9FAF8;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 0;
}

.main-text{
    display: block;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 400px;
    margin-right: 150px;   
    align-content: center;
    margin-top: 0px;
    height: 450px;
    margin-left: 0;
    
}

.main-button{
   background-color:  #3882F6;
   color: white;
   font-weight: bold;
   padding: 10px 35px;
   border-radius: 10px;
   margin-top: 10px;
   
}


.image{
    background-color: gray;
    height: 250px;
    width: 400px;
    text-align: center;
    justify-items: center;
    align-content: center;
    margin-top: 0;
}


.second-section{
    display: block;
    justify-content: center;
    justify-items: center;
    margin-bottom: 80px;
   
}

.info{
    display: flex;
    text-align: center;
    text-wrap: wrap;
    width: 700px;
    gap: 40px;
    margin-top: 40px;  
}

h2{
    font-size: 36px;
    margin-top: 25px;
    color: #1F2937;  
    font-weight: 900;
}

.pics-1{
    border-radius: 20px;
    height: 140px;
    border:2px solid #3882F6;
    margin-bottom: 0;
    
    color: #1F2937;   
}
.pics-2{
    border-radius: 20px;
    height: 140px;
    border:2px solid #3882F6;
    margin-bottom: 0;
      
    color: #1F2937;  

}
.pics-3{
    border-radius: 20px;
    height: 140px;
    border:2px solid #3882F6;
      
    color: #1F2937;  
}

.pics-4{
   border-radius: 20px;
    height: 140px;
    border:2px solid #3882F6;
      
    color: #1F2937;  
}

.third-section{
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 80px;
    background-color: #E5E7EB;
    height: 400px;
    
}

.inspiration{
    display: block;
    width: 900px;
    text-align: center;
    text-align: start;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 90px;
    font-size:x-large;
    font-size: 33px;
    font-style: oblique;
    color: #1F2937;
    font-weight: 300;
   
}  

.thor{
     font-weight: 600;
    margin-left: 150px;
    font:900;
    font-style: normal;
    
    display: block;
    text-align: center;
    text-align: start;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 18px;
     color: #000
   

}

.fourth-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: #3882F6;;
    color: white;
    width: 800px;
   margin-left: 300px;
   border-radius: 10px;
   margin-top:  70px;
   margin-bottom:  70px;
   gap: 70px;
}


call-to-action{
    text-wrap: wrap;
    list-style: none;
    
}

h3{
    margin-bottom: 0px;
    ;
}

p{
    margin-top: 0;
}

button{
    border: 1px solid  white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    color: #fff;
    background-color: #3882F6;
    border-radius: 5px;
}


.footer{
    background-color: #1f2937;
    height: 70px;
    text-align: center;
    align-content: center;
    color: white;
    font-size: small;
}